[alias]
	br = branch
	cm = commit
	co = checkout
    f  = fetch
	pl = pull
	ps = push
	st = status
    w  = worktree
    lg = !git --no-pager log -n 15 --color --graph --abbrev=8 --pretty=tformat:'%Cred%h%Creset %<(60,trunc)%s %Cgreen(%><(14,trunc)%cr) %C(bold blue)%<(13,trunc)%an%Creset %C(yellow)%d%Creset'
[branch]
    sort = -committerdate
[column]
    ui = auto
[core]
	excludesfile = ~/.gitignore_global
[diff]
    algorithm = histogram
    colorMoved = plain
[fetch]
    all = true
    prune = true
    pruneTags = true
[help]
    autocorrect = prompt
[init]
	defaultBranch = master
[pager]
	branch = false
	stash = false
[pull]
	rebase = false
[push]
	followTags = true
[user]
	useConfigOnly = true
